*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #232323;
    --white: #fafafa;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

/****  Estilos mobile  ****/

body{
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100vw;
    background: var(--black);
}

header{
    background: var(--black); 
    color: var(--white);
    height: 70px;
    padding: 0.5em;
}

header picture img{
    width: 110px;
}

.hero{
    background-image:  url("./img/main-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.95;
    height: 440px;
    width: 100%;
    max-width: 500px;
    color: var(--white);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero p{
    font-size: 2.5rem;
    font-weight: 800;
}

.ranking{
    margin: 0.5em 0;
    display: flex;
}

.ranking p{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}

.course{
    padding: 1em;
}