*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #232323;
    --black-light: #464444;
    --white: #fafafa;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

/****  Estilos mobile  ****/

body{
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100vw;
    background: var(--black);
}

header{
    background: var(--black); 
    color: var(--white);
    height: 70px;
    padding: 0.5em;
}

header picture img{
    width: 110px;
}

.hero{
    background-image:  url("./img/main-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.95;
    height: 440px;
    width: 100%;
    max-width: 500px;
    color: var(--white);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero p{
    font-size: 2.5rem;
    font-weight: 800;
}

.ranking{
    margin: 0.5em 0;
    display: flex;
}

.ranking p{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}

.course{
    padding: 1em;
}

.course--class-item{
    align-items: center;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    margin: 20px auto;
}

.gradient{
    background: var(--black-light);
    background-clip: padding-box;
}

.gradient::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background: linear-gradient(to right, rgb(249, 153, 153), rgb(213, 27, 27))
}

.thumbnail{
    width: 80px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
}

.thumbnail span{
    position: absolute;
    left: 35%;
    top: 30%;
}

.thumbnail span img{
    width: 1.5rem;
}

.class-info{
    width: 100%;
    padding-left: 1rem;
}

.class-info p{
    font-size: 1rem;
    color: grey;
}

.class-info p:first-child{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--white);
}

.class-title{
    padding: 1em;
}

.class-title p:first-child{
    color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
}

.class-title p{
    padding-top: 5px;
    color: var(--white);
}

.class-navigation{
    display: flex;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    border: 1px solid rebeccapurple;
}

/***** DESKTOP ******/

@media screen and (min-width:1023px) {
    header{
        height: 120px;
    }

    header picture img{
        width: 200px;
    }

    .hero{
        max-width: 800px;
        margin: 0 auto;
    }

    .course{
        width: 800px;
        margin: 0 auto;
    }

    .thumbnail{
        height: 120px;
        width: 200px;
    }

    .thumbnail picture a img{
        width: 180px;
        height: 100px;
        margin: 0 auto;
    }

    .thumbnail span{
        position: absolute;
        left: 35%;
        top: 30%;
    }
    
    .thumbnail span img{
        width: 2.5rem;
    }

}